alias cl="clear"
alias c="clear"
alias mkdir="mkdir -p"

alias fixcam="sudo killall VDCAssistant"

alias v="nvim"

alias python="python3"
alias pip="pip3"

### TMUX

alias t="tmux a || tmux" # if tmux is not running, start it withouth creating a session
alias tat="new-tmux-from-dir-name"
alias td="tmux detach"
alias tls="tmux ls"
alias tksv="tmux kill-server"
alias s="sesh connect \"\$(sesh list -i | gum filter --limit 1 --fuzzy --no-sort --placeholder 'Pick a sesh' --prompt='⚡')\""

function ta(){
	tmux attach-session -t "$1"
}

function tn(){
	tmux new -s "$1"
}

function new-tmux-from-dir-name {
  tmux new-session -As `basename $PWD`
}

### DIRECTORY

# make dir and cd into it
function mkcd(){
  mkdir $1;
  cd $1;
}

# remove directory
function rd(){
  rm -rf $1;
}

### MONGODB

alias mongod="mongod --config /usr/local/etc/mongod.conf"


### PHP
tailphp() {
  if (command -v lnav &> /dev/null) && (command -v herd &> /dev/null) then
    lnav /Users/vanjajelic/Library/Application\ Support/Herd/Log/php-fpm.log;
  else
    tail -f /Applications/MAMP/logs/php_error.log | grep '^\['
    awk '
    /[Nn]otice/ {print "\033[32m" $0 "\033[39m" ;next;} 
    /[Ww]arning/ {print "\033[33m" $0 "\033[39m" ;next;} 
    /[Ee]rror/ {print "\033[31m" $0 "\033[39m" ; next; }
    1 {print}
    '
  fi
}

# drush sql-dump
function ddmp(){
	drush sql-dump --result-file=$(date +"%m-%d-%Y").sql
}

function wdmp(){
	wp db export $(date +"%m-%d-%Y").sql
}

# vagrant virtual mashine
alias vm="ssh vagrant@127.0.0.1 -p 2222"


# Herd injected MYSQL binary.
alias mysql="/Users/Shared/DBngin/mysql/8.0.33/bin/mysql -u root -p -h 127.0.0.1"
alias mysqldump="/Users/Shared/DBngin/mysql/8.0.33/bin/mysqldump"

### GIT STUFF

alias gg="lazygit"

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"
alias gor="git push origin master"
alias gs="git status -sb"
alias gac="git add -A . && git commit"
alias glo="glol"
alias gpd="git push dev dev"
alias gpp="git push prod master"
alias gr="git remote -v"


function gitupf(){
	git diff-tree --no-commit-id --name-only -r $1;
}


### IP addresses

alias ip="curl https://ipinfo.io/ip"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# ctags to homebrew ctags
alias ctags="`brew --prefix`/bin/ctags"

### IMAGES
function compressjpgs() {
  [ -z "$1" ] && echo "Destination directory not specified" && return

  mogrify -monitor -sampling-factor 4:2:0 -strip -interlace JPEG -colorspace sRGB -path $1 -compress JPEG -quality 80 *.jpg
}

